body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #216477;
  color: #fff;
  text-align: center;
  padding: 30px 30px 30px 90px;
}

.title {
  font-size: 30px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  background-color: #216477;
  color: white;
  height: 70px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 30px;
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  top: 120px;
  left: -260px;
  width: 200px;
  background-color: #216477;
  transition: left 0.3s ease-in-out;
}

.menu li {
  margin: 10px 60px;
  text-align: left;
  font-size: 20px;
}

.menu li a {
  color: white;
  text-decoration: none;
}

.menu li a:hover {
  text-decoration: underline;
}

.menu.active {
  left: 0px;
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button {
  background-color: #555;
  color: #fff;
  border: 1px solid transparent;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  border: 1px solid black;
  color: black;
}

.button:active {
  background-color: #216477;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section {
  padding: 40px;
  background-color: #f1f1f1;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.section1 img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.section2 img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.section h1 {
  font-size: 2.5rem;
  color: #216477;
}

.section h2 {
  font-size: 2rem;
  color: #216477;
}

.bunnyGrid {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.bunnyGrid img {
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  height: 400px;
  object-fit: cover;
}

.bunnyGrid img:hover {
  opacity: 0.3;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.email a {
  color: black;
}

.email a:hover {
  color: #216477;
}

@media (min-width: 768px) {
  .title {
    font-size: 60px;
  }

  .menu-icon {
    display: none;
  }

  .menu {
    position: static;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    text-align: center;
    transform: none;
    transition: none;
    opacity: 1;
  }

  .menu li {
    margin: 0 15px;
  }
}

@media (min-width: 768px) {
  .section1 {
    flex-direction: row;
  }

  .section2 {
    flex-direction: row;
  }

  .bunnyGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section1 img {
    width: 50%;
  }

  .section2 img {
    width: 50%;
  }

  .container {
    width: 90%;
  }
}
